<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Book Notes</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Bem-vinda ao Book Notes!</h1>
</body>
</html>