<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title><%= title %> | Book Notes</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>📖 Book Notes</h1>
    <nav>
      <a href="/">Home</a> | 
      <a href="/add">Adicionar Livro</a>
    </nav>
    <hr>
  </header>

  <main>
    <%- body %> <!-- Aqui vai o conteúdo de cada página -->
  </main>

  <footer>
    <hr>
    <p>Feito por Tamiris 💜</p>
  </footer>
</body>
</html>